body {
    background-color: #f5d9df;
    font-family: "Nunito", sans-serif;
}

footer {
    font-family: "Nunito", sans-serif;
    border-top: 2px solid #747373bd;;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.container {
    max-width: 960px;
    color: #f34d87;
  }

.scrolled {
    background-color: rgba(131, 62, 131, 0.616) !important;
    transition: background-color 400ms;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}




